<li class="media">

  <div class="well">
    <div class="media-left">
      <img class=mediaImg src={{post.img}} alt={{post.question}} />
    </div>
    <div class="media-body">
      <br>
      <h4 class="media-heading"><strong>{{post.name}}:</strong>{{post.question}}</h4>
    </div>
  </div>

</li>
