<li class="media">
  {{#link-to 'view-post' post.id}}
    <div class="well">
      <div class="media-left">
        <img class=mediaImg src={{post.img}} alt={{post.name}} />
      </div>
      <div class="media-body">
        <br>
        <h4 class="media-heading"><strong>{{post.name}} </strong> Asked:  {{post.question}}</h4>
      </div>
    </div>
  {{/link-to}}
</li>
