<div class="container">
  <div class="jumbotron aboutHeader">
    <br>
    <h1>About Maven...</h1>
  </div>
  <div class="row aboutContent">
    <div class="col-md-offset-2 col-md-8">
      <h4><strong>Maven</strong> is a place where anyone is welcome to ask questions about programming and are able to get support from more experienced developers throughout the world. Our goals are to help people curious about programming or those who just need help to get the answers they seek. We believe in the power of people sharing and working together to build a even better community of developers. </h4>
      <br>
      <h4>If you are new to programming and have questions, just simply post it and watch <strong>Maven</strong> work through the power of our community.</h4>
    </div>
  </div>
</div>
